/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package cl.rutbusiness.core.api.apis

import cl.rutbusiness.core.api.models.CreateKeyRequest
import cl.rutbusiness.core.api.models.CreatedKeyResponse
import cl.rutbusiness.core.api.models.ErrorEnvelope
import cl.rutbusiness.core.api.models.TransitionRequest
import cl.rutbusiness.core.api.models.WebKeyDto

import cl.rutbusiness.core.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminWebApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Crear clave de storefront. El plaintext y el secreto HMAC se muestran UNA sola vez en esta respuesta.
     * 
     * @param createKeyRequest 
     * @return CreatedKeyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createKey(createKeyRequest: CreateKeyRequest): HttpResponse<CreatedKeyResponse> {

        val localVariableAuthNames = listOf<String>("bearer_jwt")

        val localVariableBody = createKeyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/web/keys",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Listar claves del tenant. Nunca incluye hash ni secreto.
     * 
     * @return kotlin.collections.List<WebKeyDto>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listKeys(): HttpResponse<kotlin.collections.List<WebKeyDto>> {

        val localVariableAuthNames = listOf<String>("bearer_jwt")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/web/keys",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListKeysResponse>().map { value }
    }

    @Serializable(ListKeysResponse.Companion::class)
    private class ListKeysResponse(val value: List<WebKeyDto>) {
        companion object : KSerializer<ListKeysResponse> {
            private val serializer: KSerializer<List<WebKeyDto>> = serializer<List<WebKeyDto>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListKeysResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListKeysResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Revocar (soft): &#x60;active &#x3D; false&#x60;. 404 si la clave no existe o no es del tenant.
     * 
     * @param id Id de la clave (&#x60;api_key:xyz&#x60; o &#x60;xyz&#x60;)
     * @return void
     */
    open suspend fun revokeKey(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearer_jwt")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/web/keys/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rotar: la clave vieja queda inactiva de inmediato; se responde una nueva con el mismo nombre y scopes (plaintext una sola vez).
     * 
     * @param id Id de la clave (&#x60;api_key:xyz&#x60; o &#x60;xyz&#x60;)
     * @return CreatedKeyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rotateKey(id: kotlin.String): HttpResponse<CreatedKeyResponse> {

        val localVariableAuthNames = listOf<String>("bearer_jwt")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/web/keys/{id}/rotate".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Transicionar un pedido web de retiro. Flujo permitido: reserved → preparing → ready_for_pickup → completed; cualquier estado previo a completed puede pasar a cancelled. Cancelar libera la reserva; completar la libera Y descuenta stock (misma tx).
     * 
     * @param id Order record id (&#x60;order:xxx&#x60;)
     * @param transitionRequest 
     * @return kotlinx.serialization.json.JsonElement
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun transitionOrder(id: kotlin.String, transitionRequest: TransitionRequest): HttpResponse<kotlinx.serialization.json.JsonElement> {

        val localVariableAuthNames = listOf<String>("bearer_jwt")

        val localVariableBody = transitionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/orders/{id}/transition".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
