/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package cl.rutbusiness.core.api.apis

import cl.rutbusiness.core.api.models.ErrorEnvelope
import cl.rutbusiness.core.api.models.PublicCatalogPage
import cl.rutbusiness.core.api.models.PublicProductDto
import cl.rutbusiness.core.api.models.PublicStoreDto
import cl.rutbusiness.core.api.models.WebPickupOrderRequest
import cl.rutbusiness.core.api.models.WebPickupOrderResponse

import cl.rutbusiness.core.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PublicWebApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Crear pedido de retiro (pickup) desde el storefront. Bearer &#x60;rb_live_…&#x60; + firma HMAC por clave + &#x60;Idempotency-Key&#x60; opcional (reintento seguro).
     * 
     * @param slug Tenant slug
     * @param webPickupOrderRequest 
     * @return WebPickupOrderResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createWebOrder(slug: kotlin.String, webPickupOrderRequest: WebPickupOrderRequest): HttpResponse<WebPickupOrderResponse> {

        val localVariableAuthNames = listOf<String>("api_key")

        val localVariableBody = webPickupOrderRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/public/{slug}/orders/web".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Detalle público de producto por slug. 404 si está oculto, inactivo o requiere receta — indistinguible de \&quot;no existe\&quot;.
     * 
     * @param slug Tenant slug
     * @param productSlug Product slug
     * @return PublicProductDto
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getProduct(slug: kotlin.String, productSlug: kotlin.String): HttpResponse<PublicProductDto> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/{slug}/catalog/{product_slug}".replace("{" + "slug" + "}", "$slug").replace("{" + "product_slug" + "}", "$productSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Ficha pública de la tienda (nombre, WhatsApp, horario, retiro). 404 si el tenant no existe o no publicó su web.
     * 
     * @param slug Tenant slug
     * @return PublicStoreDto
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getStore(slug: kotlin.String): HttpResponse<PublicStoreDto> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/{slug}/store".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Catálogo público paginado (solo productos activos, visibles online y de venta directa). 404-oscuridad si la web no está publicada.
     * 
     * @param slug Tenant slug
     * @return PublicCatalogPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listCatalog(slug: kotlin.String): HttpResponse<PublicCatalogPage> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/{slug}/catalog".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
